<div class="team-2">
<div class="container">

  <!-- Start row -->
  <div class="row">
    <div class="col-md-8 mx-auto text-center mb-5">
      <h3 class="display-3">Current development team</h3>
      <h4 class="lead">These people actively work on the continuous development of PROTEUS.</h4>
    </div>
  </div>

  <!-- Start row -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://www.formingworlds.space/team/tim-lichtenberg">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/TimLichtenberg.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Tim Lichtenberg</h4>
          <p class="lead">FWL Group Leader</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Keen on great design</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-user-run"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Outdors lover</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://www.h-nicholls.space/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/HarrisonNicholls.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Harrison Nicholls</h4>
          <p class="lead">Cambridge postdoc</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Planetary climates</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-user-run"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Atmospheric chemistry</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Numerical methods</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://planetmariana.github.io/">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/MarianaSastre.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Mariana Sastre</h4>
          <p class="lead">Kapetyn PhD student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Exoplanet interior evolution</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-user-run"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Mantle dynamics</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Volatile partitioning</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <!-- Start row -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="https://www.formingworlds.space/team/emma-postolec">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/EmmaPostolec.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Emma Postolec</h4>
          <p class="lead">Kapetyn PhD student</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Atmospheric escape</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-user-run"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Volatile fractionation</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">JWST Observations</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="javascript:;">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/MarijnVanDijk.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Marijn van Dijk</h4>
          <p class="lead">Kapetyn Research Assistant</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Tidal heating</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-user-run"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Orbital evolution</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Satellites & moons</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-profile" data-image="profile-image">
        <div class="card-header">
          <div class="card-image">
            <a href="javascript:;">
              <img style='width: 100%; object-fit: cover' src="{{ '/assets/img/faces/KarenStuitje.avif' | relative_url }}">
            </a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h4 class="display-4 mb-0">Karen Stuitje</h4>
          <p class="lead">Kapetyn Research Assistant</p>
          <div class="table-responsive">
            <ul class="list-unstyled ">
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-info mr-3">
                      <i class="ni ni-atom"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Stellar evolution</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-user-run"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Software testing</h6>
                  </div>
                </div>
              </li>
              <li class="py-1">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-danger mr-3">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-1">Documentation</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>

  
  <!-- Start row -->
  <div class="row">
    <div class="col-md-8 mx-auto text-center mb-5">
      <h3 class="display-3">Past contributors</h3>
      <h4 class="lead">These people have previously contributed to PROTEUS but have since moved elsewhere.</h4>
    </div>
  </div>

</div>
</div>