# https://docs.github.com/en/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll?platform=linux
# https://pages.github.com/versions/

site: PROTEUS Framework
domain: formingworlds.github.io

title: PROTEUS Framework

author: Tim Lichtenberg

url: https://proteus-framework.org
baseurl: 

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /papers/:slug
    type: "post"

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post" 

sass:
  sass_dir: assets/styles
  style: compressed
  sourcemap: never

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-github-metadata

paginate: 6
paginate_path: "/papers/page:num/"

github: [metadata]

repository: FormingWorlds/FormingWorlds.github.io

